<p>Dear {{ firstname }} {{ surname }},</p>

<p>The password has been reset for SmartPanel account  {{ username }}.</p>

<p>The new password is {{ password }}</p>

<p>Kind Regards,</p>

<p>{{ company }}</p>
