<p>Dear {{ firstname }} {{ surname }},</p>

<p>We have received a request to reset the password for SmartPanel account  {{ username }}.</p>

<p>To do so please use the following link:</p>

<p><a href="{{link}}/reset/{{ id }}/{{ hash }}">{{link}}/reset/{{ id }}/{{ hash }}</a></p>

<p>Kind Regards,</p>

<p>{{ company }}</p>
