{{ include('header.html.twig', { 'page_title': page_title, 'page_id': 7, 'link': settings.clientarea_link }) }}
<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Admin</a> <a href="#" class="tip-bottom">Clients</a> <a href="#" class="tip-bottom">List Clients</a> </div>
  <h1>List Clients</h1>
</div>
<div class="container-fluid">
  <hr>

{% if form_errors(form) %}
<div class="alert alert-error">
<button class="close" data-dismiss="alert">x</button>
<strong>Error!</strong> {{ form_errors(form) }} </div>
{{ include('notify.html.twig', { 'title': "Error", 'text': "The client could not be deleted.", image: "/img/cross.png" }) }}
{% elseif submitted %}
{{ include('notify.html.twig', { 'title': "Success", 'text': "The client was successfully deleted.", image: "/img/tick.png" }) }}
{% endif %}
<div class="widget-box">
  <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
    <h5>Client List</h5>
  </div>
  <div class="widget-content nopadding">
    <table class="table table-bordered data-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Status</th>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for client in clients %}
        <tr>
          <td>{{ client.id }} {% if client.isAdmin == true %} (Admin) {%endif%}</td>
          <td>{{ client.username }}</td>
          <td>{% if client.isActive == true %} <span class="label label-success">Active</span>
          {% else %}
          <span class="label label-important">Inactive</span>
          {% endif %}
          </td>
          <td>{{ client.firstname }} {{ client.surname }}</td>
          <td>{{ client.email }}</td>
          <td><a href="clients/{{ client.id }}" class="btn btn-primary"><span class="icon"><i class="icon-pencil"></i></span> Edit</a> <a href="#delete" data-toggle="modal" data-value="{{ client.id }}" class="btn btn-primary delete"><span class="icon"><i class="icon-trash"></i></span> Delete</a></span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      </div>
    </div>
    </div>
    <div id="delete" class="modal hide">
              <div class="modal-header">
              <button data-dismiss="modal" class="close" type="button">×</button>
              <h3>Delete Client</h3>
              </div>
              <div class="modal-body">
              Please confirm below you wish to delete client #<span id="clientusername"></span>
              </div>
              <div class="modal-footer"> <a data-dismiss="modal" id="confirmdelete" data-value="" class="btn btn-primary" href="#">Confirm</a> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
              </div>
              {{ form_start(form, {'attr': {'id': 'deleteform'}}) }}
              {{ form_widget(form.id) }}
              {{ form_widget(form.save, {'attr': {'style': 'display: none;'}}) }}
              {{ form_end(form) }}
</div>

{{ include('footer.html.twig') }}
