{{ include('header.html.twig', { 'page_title': page_title, 'page_id': 2, 'link': settings.clientarea_link }) }}
<div id="page-content-wrapper">
        <div id="page-content">

                <div class="container">


<!-- Parsley -->

<script type="text/javascript" src="{{ asset('assets/widgets/parsley/parsley.js') }}"></script>

<div id="page-title">
<h2>Edit Client</h2>
<p>Change a client's information</p>
</div>

<div class="panel">
<div class="panel-body">
    <h3 class="title-hero">
        Settings
    </h3>
    <div class="example-box-wrapper">
    {% if form_errors(form) %}
    <div class="alert alert-danger">
    <div class="bg-red alert-icon">
        <i class="glyph-icon icon-times"></i>
    </div>
      <div class="alert-content">
      <h4 class="alert-title">Error</h4>
      <p>{{ form_errors(form) }}</p>
</div>
</div>
  {% endif %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal bordered-row', 'data-parsley-validate': ''}}) }}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-6">
                            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Surname</label>
                        <div class="col-sm-6">
                            {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-6">
                        {{ form_widget(form.email, {'attr': {'data-parsley-validate': 'email', 'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                    <label class="col-sm-3 control-label">Properties</label>
    <div class="col-sm-6">
        <div class="checkbox">
            <label>
                {{ form_widget(form.isActive) }}
                User is active
            </label>
        </div>
        <div class="checkbox">
            <label>
                {{ form_widget(form.isAdmin) }}
                User is admin
            </label>
        </div>
    </div>
</div>
                    <a href="password/{{ usr.id }}" class="btn btn-alt btn-hover btn-primary">
                    <span>Change Password</span>
                    <i class="glyph-icon icon-arrow-right"></i>
                    </a>
                </div>
                    </div>
                </div>
            </div>
            <div class="bg-default content-box text-center pad20A mrg25T">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
            {{ form_end(form) }}
            </div>
    </div>
    <div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Virtual Servers
        </h3>
        <div class="example-box-wrapper">
        <ul>
        {% for server in servers %}
        <li><a href="/admin/servers/{{ server.id }}">#{{ server. id }} - {{ server.hostname }}</li>
        {% endfor %}
        </ul>
        </div>
        </div>
        </div>

</div>
</div>
</div>


        </div>
    </div>
</div>



{{ include('footer.html.twig') }}
