{{ include('header.html.twig', { 'page_title': page_title, 'page_id': 2, 'link': settings.clientarea_link }) }}
<div id="page-content-wrapper">
        <div id="page-content">

                <div class="container">
                <!-- jQueryUI Tabs -->

                <!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/tabs-ui/tabs.css">-->
                <script type="text/javascript" src="../../assets/widgets/tabs-ui/tabs.js"></script>
                <script type="text/javascript">
                    /* jQuery UI Tabs */

                    $(function() { "use strict";
                        $(".tabs").tabs();
                    });

                    $(function() { "use strict";
                        $(".tabs-hover").tabs({
                            event: "mouseover"
                        });
                    });
                </script>

                <!-- Boostrap Tabs -->

                <script type="text/javascript" src="../../assets/widgets/tabs/tabs.js"></script>

                <!-- Tabdrop Responsive -->

                <script type="text/javascript" src="../../assets/widgets/tabs/tabs-responsive.js"></script>
                <script type="text/javascript">
                    /* Responsive tabs */
                    $(function() { "use strict";
                        $('.nav-responsive').tabdrop();
                    });
                </script>



<div id="page-title">
<h2>Settings</h2>
<p>Change SmartPanel settings</p>
</div>

<div class="panel">
<div class="panel-body">
    <h3 class="title-hero">
        Settings
    </h3>
    <div class="example-box-wrapper">
    {% if form_errors(form) %}
    <div class="alert alert-danger">
   <div class="bg-red alert-icon">
       <i class="glyph-icon icon-times"></i>
   </div>
      <div class="alert-content">
      <h4 class="alert-title">Error</h4>
      <p>{{ form_errors(form) }}</p>
      </div>
</div>
  {% endif %}
  <div class="example-box-wrapper">
  {{ form_start(form) }}
      <ul class="nav-responsive nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">General</a></li>
          <li><a href="#tab2" data-toggle="tab">Security</a></li>
          <li><a href="#tab3" data-toggle="tab">Logging</a></li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="tab1">
              <p>  <label>Company name:</label> {{ form_widget(form.company_name) }}<br>
                   <label>Email from:</label> {{ form_widget(form.email_from) }}<br>
                   <label>Client Area Link:</label> {{ form_widget(form.clientarea_link) }}<br>
                   <label>Panel Location:</label> {{ form_widget(form.panel_location) }}<br>
                   <label>Welcome notification:</label> {{ form_widget(form.welcome_notification) }}<br>
                   </p>
                   <p>{{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}</p>
          </div>
          <div class="tab-pane" id="tab2">
              <p><label>Reset Limit (Hours):</label> {{ form_widget(form.reset_limit) }}<br>
              <label>Commands:</label> {{ form_widget(form.ratelimit_limit) }}<br>
                   <label>Per (Seconds):</label>{{ form_widget(form.ratelimit_time) }}</p>
              <p><button type="submit" id="form_save" name="form[save]" class="btn btn-success">Save</button></p>
          </div>
          <div class="tab-pane" id="tab3">
              <p><label>Event Log Purge:</label> {{ form_widget(form.eventlog_purge) }}<br>.</p>
              <p><button type="submit" id="form_save" name="form[save]" class="btn btn-success">Save</button></p>
          </div>
      </div>
      {{ form_end(form) }}


</div>
</div>
                </div>



        </div>
    </div>
</div>

{{ include('footer.html.twig') }}
