{{ include('header.html.twig', { 'page_title': page_title, 'page_id': 3, 'link': settings.clientarea_link }) }}
<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Virtual Servers</a> </div>
  <h1>My Servers</h1>
</div>
<div class="container-fluid">
  <hr>

<div class="widget-box">
  <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
    <h5>Server List</h5>
  </div>
  <div class="widget-content nopadding">
    <table class="table table-bordered data-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Hostname</th>
          <th>Main IP</th>
          <th>Type</th>
          <th>OS</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for server in servers %}
        <tr>
          <td>{{ server.id}}</td>
          <td>{{ server.hostname }}</td>
          <td>{{ server.ip }}</td>
          <td>
          {% if server.type == "openvz" %} <img src="{{ asset('img/vz.png') }}" alt="OpenVZ" height="25" width="25"> OpenVZ {% endif %}
          {% if server.type == "kvm" %} <img src="{{ asset('img/kvm.png') }}" alt="KVM" height="25" width="25"> KVM {% endif %}
          </td>
          <td>{{ server.os }}</td>
          <td><a href="servers/{{ server.id}}" class="btn btn-primary">Manage</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      </div>
    </div>
    </div>
</div>

{{ include('footer.html.twig') }}
