{{ include('header.html.twig', { 'page_title': page_title, 'page_id': 3, 'link': settings.clientarea_link }) }}
<div id="page-content-wrapper">
        <div id="page-content">

                <div class="container">

        <script type="text/javascript" src="{{ asset('assets/widgets/input-switch/inputswitch.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/control.js') }}"></script>
<!-- jQueryUI Accordion -->
<script type="text/javascript" src="{{ asset('assets/widgets/accordion-ui/accordion.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/widgets/jgrowl-notifications/jgrowl.js') }}"></script>
<script type="text/javascript">
    /* jQuery UI Accordion */

    $(function() { "use strict";
        $(".accordion").accordion({
            heightStyle: "content"
        });
    });

    $(function() { "use strict";
        $("#accordion-hover")
                .accordion({
                    event: 'mouseover',
                    heightStyle: 'auto'
                });
    });
</script>

<!-- jQueryUI Tabs -->

<!--<link rel="stylesheet" type="text/css" href="{{ asset('assets/widgets/tabs-ui/tabs.css') }}">-->
<script type="text/javascript" src="{{ asset('assets/widgets/tabs-ui/tabs.js') }}"></script>
<script type="text/javascript">
    /* jQuery UI Tabs */

    $(function() { "use strict";
        $(".tabs").tabs();
    });

    $(function() { "use strict";
        $(".tabs-hover").tabs({
            event: "mouseover"
        });
    });
</script>

<!-- Boostrap Tabs -->

<script type="text/javascript" src="{{ asset('assets/widgets/tabs/tabs.js') }}"></script>

<!-- Tabdrop Responsive -->

<script type="text/javascript" src="{{ asset('assets/widgets/tabs/tabs-responsive.js') }}"></script>
<script type="text/javascript">
    /* Responsive tabs */
    $(function() { "use strict";
        $('.nav-responsive').tabdrop();
    });
</script>

<div id="page-title">
<h2>Manage Server</h2>
<p>Manging LXC server  <img src="{{ asset('assets/images/spinner/loader-dark.gif') }}"" id="spinner" width="20px" alt="" style="display: none;"></p>
</div>

<div id="downerror" style="display: none;">
<div class="example-box-wrapper">
<div class="alert alert-danger">
<div class="bg-red alert-icon">
    <i class="glyph-icon icon-times"></i>
</div>
  <div class="alert-content">
  <h4 class="alert-title">Error</h4>
  <p>There was a problem communicating with the host node. Control will be resumed once connection has been restored.</p>
</div>
</div>
</div>
</div>
<div class="panel" id="controlpanel" style="display: none;">
<div class="panel-body">
    <h3 class="title-hero">
        <span class="hostname"></span>
    </h3>
    <div class="example-box-wrapper">
    {{ form_start(form, {'attr': {'id': 'actionform'}}) }}
     {{ form_widget(form.action) }}
     {{ form_widget(form.save, {'attr': {'style': 'display: none;'}}) }}
     {{ form_widget(form.value) }}
     {{ form_end(form) }}
    <div class="col-md-6">
    <table class="table table-striped">

                        <tbody>
                        <tr>
                            <td>Status</td>
                            <td><span id="status"></span> <span id="uptime" class="bs-label label-blue-alt"></span></td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>  {% if server.type == "lxc" %} <img src="{{ asset('img/lxc.png') }}" alt="LXC" height="25" width="25"> LXC {% endif %}
                              {% if server.type == "kvm" %} <img src="{{ asset('img/kvm.png') }}" alt="KVM" height="25" width="25"> KVM {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Main IP</td>
                            <td><span id="ip"></span></td>
                        </tr>
                        <tr>
                            <td>OS</td>
                            <td><span id="os"></span></td>
                        </tr>
                        <tr>
                            <td>Node</td>
                            <td><span id="node"></span></td>
                        </tr>
                        </tbody>
                    </table>
    </div>
    <div class="col-md-6">
    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>RAM</td>
                            <td><span id="mem"></span>MB/<span id="availablemem"></span>MB</td>
                            <td style="width: 47%;"><div class="progressbar" id="memprogress" data-value="11">
                        <div class="progressbar-value bg-warning" id="memprogress_value">
                            <div class="progress-overlay"></div>
                            <div class="progress-label" id="memprogress1"></div>
                        </div>
                    </div></td>
                        </tr>
                        <tr>
                            <td>SWAP</td>
                            <td><span id="swap"></span>MB/<span id="availableswap"></span>MB</td>
                            <td><div class="progressbar" id="swapprogress" data-value="11">
                        <div class="progressbar-value bg-purple" id="swapprogress_value">
                            <div class="progress-overlay"></div>
                            <div class="progress-label" id="swapprogress1"></div>
                        </div>
                    </div></td>
                        </tr>
                        <tr>
                            <td>CPU</td>
                            <td><span id="cpu"></span>% of <span id="availablecpu"></span> CPU's</td>
                            <td><div class="progressbar" id="cpuprogress" data-value="11">
                        <div class="progressbar-value bg-info" id="cpuprogress_value">
                            <div class="progress-overlay"></div>
                            <div class="progress-label" id="cpuprogress1"></div>
                        </div>
                    </div></td>
                        </tr>
                        <tr>
                          <td>HDD</td>
                          <td><span id="disk"></span>GB/<span id="availabledisk"></span>GB</td>
                          <td><div class="progressbar" id="diskprogress" data-value="11">
                      <div class="progressbar-value bg-yellow" id="diskprogress_value">
                          <div class="progress-overlay"></div>
                          <div class="progress-label" id="diskprogress1"></div>
                      </div>
                  </div></td>
                        </tr>
                        <tr>
                            <td>Bandwidth</td>
                            <td>Test</td>
                            <td>Row 1</td>
                        </tr>
                        </tbody>
                    </table>
    </div>
</div>
<div class="example-box-wrapper">

    <div class="content-box tabs">
        <h3 class="content-box-header bg-primary">
            <span>CONTROL</span>
            <ul>
                <li>
                    <a href="#settings" title="Settings">
                        Settings
                    </a>
                </li>
                <li>
                    <a href="#network" title="IP">
                        IP Management
                    </a>
                </li>
                <li>
                    <a href="#firewall" title="Firewall">
                        Firewall
                    </a>
                </li>
                <li>
                    <a href="#snapshots" title="Snapshots">
                        Snapshots
                    </a>
                </li>
                <li>
                    <a href="#statistics" title="Statistics">
                        Statistics
                    </a>
                </li>
            </ul>
        </h3>
        <div id="settings">
        <div class="panel">
<div class="panel-body">
<h3 class="title-hero">
   Power Control
</h3>

<div class="example-box-wrapper">

   <div class="content-box remove-border dashboard-buttons clearfix">
   <a data-toggle="modal" data-target="#boot" class="btn vertical-button remove-border btn-success" title="">
       <span class="glyph-icon icon-separator-vertical">
           <i class="glyph-icon icon-play"></i>
       </span>
       <span class="button-content">Boot</span>
   </a>
 <a data-toggle="modal" data-target="#shutdown" class="btn vertical-button remove-border btn-danger" title="">
         <span class="glyph-icon icon-separator-vertical">
             <i class="glyph-icon icon-stop"></i>
         </span>
         <span class="button-content">Shutdown</span>
     </a>
     <a data-toggle="modal" data-target="#restart" class="btn vertical-button remove-border btn-warning" title="">
         <span class="glyph-icon icon-separator-vertical">
             <i class="glyph-icon icon-rotate-left"></i>
         </span>
         <span class="button-content">Restart</span>
     </a>
   </div>
</div>

</div>
</div>
<div class="panel">
<div class="panel-body">
<h3 class="title-hero">
Operations
</h3>

<div class="example-box-wrapper">

<div class="content-box remove-border dashboard-buttons clearfix">
<a data-toggle="modal" data-target="#hostname" class="btn vertical-button remove-border btn-info" title="">
<span class="glyph-icon icon-separator-vertical">
<i class="glyph-icon icon-tags"></i>
</span>
<span class="button-content">Hostname</span>
</a>
<a data-toggle="modal" data-target="#reinstall" class="btn vertical-button remove-border btn-purple" title="">
<span class="glyph-icon icon-separator-vertical">
<i class="glyph-icon icon-download"></i>
</span>
<span class="button-content">Reinstall OS</span>
</a>
<a data-toggle="modal" data-target="#dns" class="btn vertical-button remove-border btn-azure" title="">
<span class="glyph-icon icon-separator-vertical">
<i class="glyph-icon icon-globe"></i>
</span>
<span class="button-content">DNS Resolver</span>
</a>
<a data-toggle="modal" data-target="#password" class="btn vertical-button remove-border btn-info" title="">
<span class="glyph-icon icon-separator-vertical">
<i class="glyph-icon icon-key"></i>
</span>
<span class="button-content">Root Pass</span>
</a>
</div>
</div>

</div>
</div>
<div class="panel">
<div class="panel-body">
<h3 class="title-hero">
Access
</h3>

<div class="example-box-wrapper">

<div class="content-box remove-border dashboard-buttons clearfix">
<a style="cursor: pointer" onclick=" window.open('/novnc/{{ server.id }}','',' scrollbars=yes,menubar=no,width=600, height=400, resizable=yes,toolbar=no,location=no,status=no')" class="btn vertical-button remove-border btn-success">
<span class="glyph-icon icon-separator-vertical">
<i class="glyph-icon icon-play"></i>
</span>
<span class="button-content">noVNC</span>
</a>
</div>
</div>
</div>
</div>
<div class="modal fade" id="boot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
   <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Power Control</h4>
       </div>
       <div class="modal-body">
           <p>Are you sure you wish to boot this VM?</p>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="button" class="action btn btn-primary" data-dismiss="modal" data-value="boot">Confirm</button>
       </div>
   </div>
</div>
</div>
<div class="modal fade" id="shutdown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
   <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Power Control</h4>
       </div>
       <div class="modal-body">
           <p>Are you sure you wish to shutdown this VM?</p>
           <input type="hidden" id="shutdownval" class="value" data-value="shutdown" value="off">
           Forceful Shutdown:  <input type="checkbox" id="shutdownbutton" data-on-color="warning" name="shutdown" class="input-switch" checked data-size="medium" data-on-text="Yes" data-off-text="No" >
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="button" class="action btn btn-primary" data-dismiss="modal" data-value="shutdown">Confirm</button>
       </div>
   </div>
</div>
</div>
<div class="modal fade" id="restart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
   <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Power Control</h4>
       </div>
       <div class="modal-body">
           <p>Are you sure you wish to restart this VM?</p>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="button" class="action btn btn-primary" data-dismiss="modal" data-value="restart">Confirm</button>
       </div>
   </div>
</div>
</div>
<div class="modal fade" id="hostname" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
   <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Set Hostname</h4>
       </div>
       <div class="modal-body">
       <div class="form-group">
       <label class="col-sm-3 control-label">New Hostname</label>
       <div class="col-sm-6">
       <input type="text" data-value="hostname" required="required" class="value form-control" />
       </div>
       </div>
       <br>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="button" class="action btn btn-primary" data-dismiss="modal" data-value="hostname">Confirm</button>
       </div>
   </div>
</div>
</div>
<div class="modal fade" id="password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
   <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Set Root Password</h4>
       </div>
       <div class="modal-body">
       <div class="form-group">
       <label class="col-sm-3 control-label">New Password</label>
       <div class="col-sm-6">
       <input type="password" data-value="password" required="required" class="value form-control" />
       </div>
       </div>
       <br>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="button" class="action btn btn-primary" data-dismiss="modal" data-value="password">Confirm</button>
       </div>
   </div>
</div>
</div>
<div class="modal fade" id="dns" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
   <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Resolvers</h4>
       </div>
       <div class="modal-body">
       <p>Leave a space between each resolver you wish to use (e.g. '8.8.8.8 8.8.4.4')</p><br>
       <p><strong>WARNING:</strong> This will reboot your container!</p><br>
       <div class="form-group">
       <label class="col-sm-3 control-label">Resolvers</label>
       <div class="col-sm-6">
       <input type="text" data-value="nameserver" id="nameserver" required="required" class="value form-control" />
       </div>
       </div>
       <br>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="button" class="action btn btn-primary" data-dismiss="modal" data-value="nameserver">Confirm</button>
       </div>
   </div>
</div>
</div>
<div class="modal fade" id="reinstall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
   <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Reinstall OS</h4>
       </div>
       <div class="modal-body">
       <p><strong>WARNING:</strong> All existing data will be lost</p><br>
       <div class="form-group">
       <label class="col-sm-3 control-label">New OS</label>
       <div class="col-sm-6">
       <select class="value form-control" data-value="reinstall">
        {% for template in templates %}
         <option value="{{ template.file }}">{{ template.name }}</option>
        {% endfor %}
       </select>
       </div>
       </div>
       <br>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="button" class="action btn btn-primary" data-dismiss="modal" data-value="reinstall">Confirm</button>
       </div>
   </div>
</div>
</div>
        </div>
        <div id="network">
        <div class="panel">
<div class="panel-body">
    <h3 class="title-hero">
        IPv4 Addresses
    </h3>
    <div class="example-box-wrapper">
        <div class="remove-columns">
            <table class="table table-bordered table-striped table-condensed cf">
                <thead class="cf">
                <tr>
                    <th>IP</th>
                    <th>Gateway</th>
                    <th>Netmask</th>
                    <th>Interface</th>
                    <th>Reverse DNS</th>
                </tr>
                </thead>
                <tbody id="ipv4">
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
        </div>
        <div id="firewall">
            Tab 3 content goes here ...
        </div>
        <div id="statistics">
        <div class="form-group">
          <label class="col-sm-3 control-label">Select Period</label>
          <div class="col-sm-6">
          <select class="form-control" id="graphselect">
            <option value="null" selected>-- Select Period --</option>
            <option value="hour">Hourly</option>
            <option value="day">Daily</option>
            <option value="week">Weekly</option>
            <option value="month">Monthly</option>
            <option value="year">Yearly</option>
          </select>
          </div>
          </div>
          <br><br>
            <p style="text-align:center"><img src="{{ asset('assets/images/spinner/loader-dark.gif') }}"" id="graphspinner" width="110px" alt="" style="display: none;"></p>
                <div class="panel graphpanel" style="display: none;">
        <div class="panel-body">
        <h3 class="title-hero">
           CPU
        </h3>

        <div class="example-box-wrapper">
        <img id="cpugraph" src="">
        </div>
        </div>
        </div>
        <div class="panel graphpanel" style="display: none;">
        <div class="panel-body">
        <h3 class="title-hero">
        Memory
        </h3>

        <div class="example-box-wrapper">
        <img id="memgraph" src="">
        </div>
        </div>
        </div>

          <div class="panel graphpanel" style="display: none;">
    <div class="panel-body">
    <h3 class="title-hero">
     Network
    </h3>

    <div class="example-box-wrapper">
    <img id="netingraph" src="">
    <img id="netoutgraph" src="">
    </div>

    </div>
    </div>
      <div class="panel graphpanel" style="display: none;">
    <div class="panel-body">
    <h3 class="title-hero">
    Disk
    </h3>

    <div class="example-box-wrapper">
    <img id="diskgraph" src="">
    </div>

    </div>
    </div>
        </div>
    </div>


        </div>
    </div>
</div>



{{ include('footer.html.twig') }}
